.translation-page {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
h1 {
  text-align: center;
}
.translation-container {
  background-color: white;
  border-radius: 20px;
  margin: 10px;
  color: black;
  text-align: center;
  font-size: large;
}
.translation {
  background-color: white;
  border-radius: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  flex-direction: row;
}
.sign-word {
  background-color: wheat;
  border-radius: 20px;
  margin: 2px;
  margin-right: 2cm;
}
img {
  background-color: wheat;
  width: 100px;
  height: 100px;
}
