.login-page, .profile-page, .error-page {
  background-color: white;
  border-radius: 20px;
  color: black;
}

body {
  background-color: #FFC75F;
}

div {
  background-color: #FFC75F;
  color: white;
  padding: 3mm;
}

a {
  color: white;
  font-family: 'Courier New', Courier, monospace;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  font-size: large;
  font-weight: bold;
}

h1, h2 {
  text-align: center;
}

form {
  padding: 5px;
  display: flex;
  justify-content: center;
}

input {
  padding: 5px;
  border-radius: 5px;
  margin-right: 3px;
}

button {
  padding: 5px;
  border-radius: 5px;
  margin: 5px;
}
